
<div class="announcement-bar">
  <div class="swiper announcementScroll">
    <div class="swiper-wrapper">

      <div class="swiper-slide">FREE SHIPPING ON ALL U.S. ORDERS $200+</div>
      <div class="swiper-slide">100% CLEAN, NON-IRRITATING</div>
      <div class="swiper-slide">NO ANIMAL TESTING 01</div>

      <div class="swiper-slide">FREE SHIPPING ON ALL U.S. ORDERS $200+</div>
      <div class="swiper-slide">100% CLEAN, NON-IRRITATING</div>
      <div class="swiper-slide">NO ANIMAL TESTING 02</div>

      <div class="swiper-slide">FREE SHIPPING ON ALL U.S. ORDERS $200+</div>
      <div class="swiper-slide">100% CLEAN, NON-IRRITATING</div>
      <div class="swiper-slide">NO ANIMAL TESTING 03</div>
    </div>
  </div>
</div>


{% schema %}
    {
    "name": "Announcement bar",
    "tag": "section",
    "class": "announcement-bar-section",
    "settings": [
        
    ],
    "enabled_on": {
        "groups": ["header"]
    },
    "presets": [
        {
            "name": "Announcement bar"
        }
    ]
}
{% endschema %}