.btfy-custom-text-card-with-image__image {
  width: var(--image-width);
  max-width: 100%;
  margin-inline: auto;
}
.btfy-custom-text-card-with-image__image:not(:first-child) {
  margin-top: 3rem !important;
}
.btfy-custom-text-card-with-image__image:not(:last-child) {
  margin-bottom: 3rem;
}
.btfy-custom-text-card-with-image .rich-text {
  padding: 4.8rem 3rem;
}
