.btfy-testimonial__header {
  align-items: baseline;
}
.btfy-testimonial__icon {
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 0.2rem;
}
.btfy-testimonial__icon:not(:first-child) {
  margin-top: 0.8rem;
}
.btfy-testimonial__content:not(:first-child) {
  margin-top: 1rem;
}

.btfy-testimonial__inner .btfy-testimonial__content, .btfy-testimonial__inner .btfy-testimonial__header {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.btfy-testimonial__product {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  border-top: 1px solid rgb(var(--color-border));
}
.btfy-testimonial__product span {
  flex-shrink: 0;
  width: 5.2rem;
}
.btfy-testimonial--layout-1:has(.btfy-testimonial__image) .btfy-testimonial__inner {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
@media (max-width: 767.98px) {
  .btfy-testimonial--layout-1:has(.btfy-testimonial__image) .btfy-testimonial__inner {
    padding-top: 1.6rem;
  }
}
@media (max-width: 767.98px) {
  .btfy-testimonial--layout-1.btfy-testimonial--has-bg .btfy-testimonial__inner {
    padding: 1.6rem 1.6rem 2rem;
  }
}
.btfy-testimonial--layout-2:has(.btfy-testimonial__image) .btfy-testimonial__inner {
  padding-inline-end: 2rem;
}
@media (max-width: 767.98px) {
  .btfy-testimonial--layout-2:has(.btfy-testimonial__image) .btfy-testimonial__inner {
    padding-inline-end: 0;
    padding-top: 1.6rem;
  }
}
@media (min-width: 768px) {
  .btfy-testimonial--layout-2 {
    display: grid;
    place-items: start;
  }
  .btfy-testimonial--layout-2 .btfy-testimonial__inner {
    align-self: stretch;
  }
  .btfy-testimonial--layout-2:has(.btfy-testimonial__image) {
    grid-template-columns: minmax(0, 5fr) minmax(0, 3fr);
  }
  .btfy-testimonial--layout-2 .btfy-testimonial__image {
    height: 100%;
    width: 100%;
    order: 2;
  }
  .btfy-testimonial--layout-2 .btfy-testimonial__image img {
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 1280px) {
  .btfy-testimonial--layout-2:has(.btfy-testimonial__image) {
    grid-template-columns: minmax(0, 4fr) minmax(0, 3fr);
  }
}
.btfy-testimonial--layout-2.btfy-testimonial--has-bg .btfy-testimonial__inner {
  padding: 2rem;
}
@media (max-width: 767.98px) {
  .btfy-testimonial--layout-2.btfy-testimonial--has-bg .btfy-testimonial__inner {
    padding: 1.6rem 1.6rem 2rem;
  }
}


.btfy-testimonials-wrapper .testimonials .btfy-testimonials__items { padding-bottom: 0.5rem; }

