pickup-availability {
  display: block;
}
pickup-availability[available] {
  min-height: 8.4rem;
}

.pickup-availability-preview {
  display: flex;
  gap: 0.8rem;
}
.pickup-availability-preview .icon {
  flex-shrink: 0;
}
.pickup-availability-info * {
  margin: 0;
}

.pickup-availability-header {
  margin: 0 1rem 2.4rem 0;
}
.pickup-availability-variant {
  margin: 0.8rem 0 0;
  text-transform: capitalize;
}
.pickup-availability-variant > * + strong {
  margin-inline-start: 1rem;
}
.pickup-availability-list__item {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  padding: 2rem 0;
}
.pickup-availability-list__item:first-child {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
}
.pickup-availability-list__item > * {
  margin: 0;
}
.pickup-availability-list__item > * + * {
  margin-top: 1rem;
}
.pickup-availability-address {
  font-style: normal;
}
.pickup-availability-address p {
  margin: 0;
}

.product__pickup-availabilities .pickup-availability-preview {
  background-color: rgba(233,233,233,0.5);
  border: 1px solid #DADADA;
  border-radius: 5px;
  padding: 15px 13px;
}

.pickup-availability-preview .pickup-availability-icon {
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0.8rem;
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: calc((var(--font-body-size) * var(--font-body-line-height) - 2rem) / 2);
}

.pickup-availability-preview .pickup-availability-info {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  width: calc(100% - 50px);
  align-items: center;
}

.pickup-availability-button {
  margin-left: auto;   
}



.product__pickup-availabilities .pickup-availability-info .pickup-availability__text {
    max-width: calc(100% - 170px);
    width: 100%;
}

@media screen and (max-width: 580px) {
   .product__pickup-availabilities .pickup-availability-info .pickup-availability__text { max-width: 100%; }
   .product__pickup-availabilities .pickup-availability-button { margin-left: 0px; }
}