.btfy-collection-hero .empty-space {
  min-height: var(--spacing-height-mobile);
}
@media (min-width: 768px) {
  .btfy-collection-hero .empty-space {
    min-height: var(--spacing-height);
  }
}
.btfy-collection-hero .hero__media {
  min-height: 100%;
  display: block;
}
.btfy-collection-hero__text {
  --padding-x: 8rem;
  --padding-y: 3.2rem;
}
@media (max-width: 1023.98px) {
  .btfy-collection-hero__text {
    --padding-x: 4rem;
  }
}
@media (max-width: 767.98px) {
  .btfy-collection-hero__text {
    --padding-x: 2.4rem;
  }
}
.btfy-collection-hero__description {
  margin-top: 1.2rem;
  max-width: clamp(0rem, 75rem, 90%);
}
.text-center .btfy-collection-hero__description {
  margin-inline: auto;
}
.text-right .btfy-collection-hero__description {
  margin-inline-start: auto;
}
.btfy-collection-hero:not(.color-inherit) .btfy-collection-hero__text {
  padding-inline: var(--padding-x);
  padding-block: var(--padding-y);
}



.btfy-card-media .content-overlay { background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75.96%, rgba(0, 0, 0, 0.5) 100%); }