
.btfy-feature-item {
  padding: 1rem 1.6rem;
  transition: 0.3s background-color, 0.3s border-color, 0.3s color;
}
.btfy-feature-item__icon {
  width: auto;
  height: auto;
  border: none;
  pointer-events: none;
}
.btfy-feature-item__icon::before, .btfy-feature-item__icon::after {
  display: none;
}
.btfy-feature-item__text {
  transition: 0.3s color;
  text-align: left;
}

.btfy-feature-item__text .btfy-feature-text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 500;
  color: rgb(var(--color-foreground));
}

.btfy-feature-item__text .btfy-feature-caption {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  color: rgba(var(--color-foreground), 0.75);
}

.btfy-feature-list__items .btfy-feature-item.columns {
    flex-direction: row-reverse;
}

.btfy-feature-item .btfy-feature-item__icon { flex-basis: 15%; }
.btfy-feature-item .btfy-feature-item__text { flex-basis: 85%;}


@media (max-width: 1366px) { 
    .btfy-feature-list__items { 
      gap: 10rem;
    }
    .btfy-feature-item:not(:last-child)::after {
      right: -38%;
      transform: translate(-38%, -50%);
    }
}

@media (max-width: 1199px) { 
    .btfy-feature-list__items { 
      gap: 4rem;
    }
    .btfy-feature-item:not(:last-child)::after {
      right: -22%;
      transform: translate(-22%, -50%);
    }
}

@media (max-width: 991px) { 
    .btfy-feature-item:not(:last-child)::after {
      right: -8%;
      transform: translate(-8%, -50%);
    }
    .btfy-feature-list__items { 
      gap: 2rem;
    }
    .btfy-feature-item {
          padding: 1rem 0.2rem;
    }
}


@media (max-width: 767.98px) {
  .swipe-mobile .btfy-feature-item__text {  
    white-space: nowrap;
  }
   .btfy-feature-list__items { 
      gap: 1.5rem;
    }
    .btfy-feature-item {
          padding: 1rem 1rem;
    }
    .btfy-feature-item:not(:last-child)::after {
      right: -12%;
      transform: translate(-12%, -50%);
    }
}