.btfy-feature-list__items {
  gap: 1rem;
}

.btfy-feature-item {
  padding: 1rem 1.6rem;
  border: 1px solid rgb(var(--color-border));
  transition: 0.3s background-color, 0.3s border-color, 0.3s color;
}
.btfy-feature-item__icon {
  padding: 0.5rem;
  width: auto;
  height: auto;
  border: none;
  pointer-events: none;
}
.btfy-feature-item__icon::before, .btfy-feature-item__icon::after {
  display: none;
}
.btfy-feature-item__text {
  transition: 0.3s color;
}
@media (max-width: 767.98px) {
  .swipe-mobile .btfy-feature-item__text {
    white-space: nowrap;
  }
}
@media (hover: hover) {
  .btfy-feature-item:hover {
    background: rgb(var(--color-button));
    border-color: rgb(var(--color-button));
  }
  .btfy-feature-item:hover .btfy-feature-item__text {
    color: rgb(var(--color-button-text));
  }
  .btfy-feature-item:hover .btfy-feature-item__icon {
    background-color: rgb(var(--color-button-text));
    color: rgb(var(--color-button));
  }
}
