.btfy-testimonials-wrapper {
  overflow: hidden;
}
.btfy-testimonials-wrapper .swiper-controls {
  align-items: center;
  gap: 1.2rem;
}
.btfy-testimonials-wrapper .swiper-pagination {
  position: static;
  opacity: 1;
  width: var(--pagination-size, 4.4rem);
}
.btfy-testimonials-wrapper .swiper-btn-next,
.btfy-testimonials-wrapper .swiper-btn-prev { position: relative; transform: none; margin: 0; inset: auto; }

@media (min-width: 768px) {
  .btfy-testimonials-wrapper .f-column.swiper-slide {
    padding-inline: 0;
    height: auto;
  }
  .btfy-testimonials-wrapper--slider .section__content {
    margin-inline-end: calc(-1 * var(--page-padding) - 15vw);
  }
  .no-js .btfy-testimonials-wrapper--slider .section__content {
    margin-inline-end: 0;
  }
}


.btfy-testimonial__image.blocks-radius { border-radius: var(--blocks-radius) var(--blocks-radius) 0px 0px; }
